
<style>
body{
    margin:0;
    padding:0;
    background:#f4f7fc;
    font-family:Arial, sans-serif;
}

/* Container */
.contact-wrapper{
    max-width:420px;
    margin:10px auto;
    background:#fff;
    padding:30px 25px;
    border-radius:14px;
    box-shadow:0 6px 16px rgba(0,0,0,0.12);
}

/* Heading */
.contact-title{
    text-align:center;
    font-size:28px;
    font-weight:700;
    margin-bottom:18px;
    color:#2c3e50;
}

.sub-title{
    text-align:center;
    font-size:14px;
    margin-top:-10px;
    margin-bottom:20px;
    color:#7f8c8d;
}

/* Labels & Inputs */
.form-group{
    margin-bottom:15px;
}

label{
    font-size:15px;
    font-weight:600;
    margin-bottom:6px;
    display:block;
    color:#34495e;
}

input, textarea{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:1px solid #dcdcdc;
    font-size:15px;
    transition:0.3s;
    background:#fafafa;
}

input:focus, textarea:focus{
    border-color:#3498db;
    background:#fff;
    outline:none;
    box-shadow:0 0 6px rgba(52,152,219,0.25);
}

/* Button */
button{
    width:100%;
    padding:13px;
    background:#3498db;
    color:white;
    font-size:17px;
    font-weight:600;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
    margin-top:5px;
}

button:hover{
    background:#2c82c9;
}

/* Result Message */
#result{
    margin-top:15px;
    text-align:center;
    font-size:16px;
}

@media screen and (max-width:767px){
    .navbar-expand-lg.top-nav .navbar-nav .nav-link.active::before{
        display: none;
    }
    .navbar-expand-lg.top-nav .navbar-nav .nav-link.active::after{
        display: none;
    }
    .navbar-expand-lg.top-nav .navbar-nav .nav-link::before{
        display: none;
    }
    .navbar-expand-lg.top-nav .navbar-nav .nav-link::after{
        display: none;
    }
}
